body {
	margin: 0;
	padding: 0;
	background: #f2f2f2;
}

.container {
	max-width: 1000px;
	margin: 100px auto;
	display: flex;
	justify-content: space-around;
}

#card {
	position: relative;
	margin: 20px 0;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transform-style: preserve-3d;
	transform: perspective(2000px);
	transition: 1s;
}

#card.open {
	z-index: 1000;
	transform: perspective(2000px) rotate(-10deg);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#card #image-box {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #eee;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 1s;
	background-size: cover;
}

#card.open #image-box {
	transform: rotateY(-135deg);
}
#card #image-box img {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
}

#card #details-box {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	box-sizing: border-box;
	padding: 20px;
}
